h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

p {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 24px;
}

a {
  color: #fff;
  text-decoration: underline;
}

.heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 55px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #410eb0;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.paragraph {
  margin-bottom: 22px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Merriweather, serif;
  color: #fff;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.image {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: inline-block;
  height: 60px;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  overflow: auto;
  height: 100%;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, from(#ae3cb3), to(transparent));
  background-image: linear-gradient(270deg, #ae3cb3, transparent);
}

.subheader {
  display: none;
  width: 100%;
  height: 45px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.nav-button {
  margin-right: 10px;
  margin-left: 0px;
  padding: 9px 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  background-color: transparent;
  color: #666;
  line-height: 16px;
}

.nav-button:hover {
  border-color: #ba0c2f;
  background-color: #ba0c2f;
  color: #fff;
}

.content {
  display: block;
  max-width: 950px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.link-block {
  margin: auto auto auto 30px;
}

.link-block.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  height: 40px;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.container-2 {
  display: none;
  margin-right: 30px;
  margin-left: 0px;
}

.link-block-2 {
  display: none;
}

.heading-2 {
  font-family: Oswald, sans-serif;
  color: #fff8f8;
  font-weight: 300;
  text-align: center;
}

.paragraph-2 {
  line-height: 26px;
}

@media screen and (max-width: 991px) {
  .paragraph {
    padding-right: 5px;
  }
  .content {
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block {
    height: 30px;
  }
  .menu-button {
    padding: 0px;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    margin-bottom: 0px;
  }
  .paragraph {
    padding-top: 20px;
  }
  .image {
    height: 55px;
  }
  .subheader {
    height: 33px;
  }
  .nav-button {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0px none transparent;
    font-size: 16px;
  }
  .link-block.w--current {
    margin-left: auto;
  }
  .div-block {
    height: 20px;
  }
  .navbar {
    height: 85px;
  }
  .nav-menu {
    border: 1px solid transparent;
    background-color: #fff;
  }
}

@media screen and (max-width: 479px) {
  p {
    font-size: 18px;
    line-height: 22px;
  }
  .heading {
    margin-top: -20px;
    margin-bottom: 0px;
    font-size: 36px;
    line-height: 40px;
  }
  .paragraph {
    padding-top: 10px;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 400;
  }
  .image {
    height: 44px;
  }
  .wrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .content {
    padding-right: 5px;
    padding-left: 5px;
  }
  .link-block.w--current {
    margin-left: auto;
  }
  .div-block {
    height: 10px;
  }
  .heading-3 {
    font-size: 24px;
    line-height: 32px;
  }
}